/* Add application styles & imports to this file! */
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #c8d6e5;
}

.container {
  margin: 10px 40px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}